.calender_panel{
    height:180px;
    overflow: hidden;
}

.solar_year_month {
    Height: 1.4em;
    line-height: 1.4em;
    font-size: 1.4em;
    font-weight: bold;
    padding: 6px;
    text-align: center;
    color: #FFFFFF;
}

.solar_calender {
    float: left;
    background-color: #C20000;
    width: 40%;
}
.solar_date {
    font-size: 5em;
    font-weight: bold;
    text-align: center;
    background-color: #FFE8E8;
    height: 100px;
}

.solar_date :after , .solar_date :before  {
    content:"";
    overflow:hidden;
    width: 8px;
    height: 20px;
    background-image: url("../images/Huangdao_pics.png");
    background-repeat: no-repeat;
    display: inline-block;
    position: relative;
}

.solar_date :after {
    left: 6%;
    top: -20%;
    background-position: -110px -15px;
}

.solar_date :before {
    left: -7%;
    top: -20%;
    background-position: -11px -15px;
}

.ancient_calender {
    float: left;
    background-color: #FFF5C3;
    height: 180px;
    width: 60%;
}
.weekday {
    Height: 30px;
    font-size: 1em;
    font-weight: bold;
    color: #FFFFFF;
    padding: 10px;
    text-align: center;
}
.ancient_ymdt {
    margin-left: 10px;
    margin-bottom: 8px;
    /* background-color: #FFF; */
}
.ancient_ymdt div {
    /* display: inline-block; */
    /* text-align: center; */
    /* vertical-align:middle; */ /*very important attrribute*/
}
.img_div{
    float:left;
    margin-right:8px;
    width: 60px;
    height: 60px;
}
.zodiac {
    height: 60px;
    width: 60px;
    /* background-color: #ffee00; */
    border: 0px;
    /* display: inline-block; */
}

.ancient_year_month, .ancient_day_time{
    /* background-color: #FDB4B4; */
}

.ancient_year,
.ancient_month ,
.ancient_day,
.ancient_time {
    background-color: #FFEFAE;
    padding: 6px 4px 5px 4px;
    margin-bottom: 5px;
    font-size: 0.8em;
    margin-right:5px;
    min-width: 3em;
    display: inline-block;
    color: #D36E00;
}

.ancient_year{
    float:left;
}

.ancient_day {
   float:left;
}
.yi_time,.ji_time{
    clear: both;
    font-weight:normal;
    margin-bottom: 8px;
    margin-left: 10px;
    background-color: #FFE9B5;
}

.yi_time span:first-child{
    font-weight:bold;
    background-color: #FF9191;
    color:white;
    padding:3px 3px 2px 3px;
    margin-right: 5px;
    display:inline-block;
}

.ji_time span:first-child{
    font-weight:bold;
    background-color: #AEB4F8;
    color:white;
    padding:3px 3px 2px 3px;
    margin-right: 5px;
    display:inline-block;
}

.ancient_yiji{
    font-size: 0.8em;
    font-weight:bold;
    color: #A77201;
}

.ancient_yiji div {
    /* margin-left: 10px; */
    /* margin-bottom: 3px; */
    /* padding: 3px; */
 
}
.lunar_month_day {
    padding: 6px 6px 6px 8px;
    margin-bottom: 8px;
    background-color: #FFF7D8;
    clear: both;
    font-size: 1.4em;
    line-height: 1.4em;
    font-weight: bold;
    color: #D50000;
    height: 1.4em;
}
.title {
    float: left;
    margin-right:10px;
    background-color: #FF9191;
    padding:4px 5px 3px 3px;
    border-radius: 5px;
    color: white;
    width: 15%;
    text-align: center;
    min-height: 2.5em;
}

.title.single_line{
    line-height:2.5em;
}
.events_list {
   /* background-color: #FFF0F0; */
   font-weight:normal;
   display:inline-block;
   padding: 0px 5px 3px 0px;
   width: 75%;
}

.title.bad{
    background-color: #AEB4F8;

}

.events_list.bad a{
    background-color: #DFE8FC;
    color: #0035BD;
}

.events_list.bad a:hover{
    background-color: #628FF3;
    color: #FFFFFF;
}

.events_list a{
    margin-right:5px;
    margin-bottom: 4px;
    background-color: #FCEDED;
    padding: 6px 5px 5px 5px;
    color: #FF1818;
    border-radius: 3px;
    font-size: 0.7em;
    display: inline-block;
}
.events_list a:hover{
    background-color: #FF4141;
    color: #FFFFFF;
}

.yi_container,
.ji_container,
.good_angel_yi,
.bad_angel_ji,
.peng_ji,
.collide,
.five_elem
{
    /* background-color: #FEFFDB; */
    clear: both;
}

.yi_container,
.ji_container,
.good_angel_yi,
.bad_angel_ji,
.peng_ji,
.collide,
.five_elem,
.dumy div{
    padding: 8px 3px 5px 8px;
    /* background-color: #aaa; */
    font-size: 1.2em;
    font-weight: bold;
    
}

.bottom_nav_toolbar ul li {
    padding-bottom:6px;
}

#keywords_yi {
    clear: both;
}

#keywords_yi span {
    background-color: #feecec;
    color: #ff0000;
    margin: 1px 4px 3px 0px;
    padding: 8px 6px 6px 6px;
    font-size: 0.8em;
    font-weight: bold;
    display: block;
    float: left;
    line-height: 1em;
}

#keywords_yi span:hover {
    background-color: #ff0000;
    color: #feecec;
}

#keywords_ji {
    clear: both;
}

#keywords_ji span {
    background-color: #dee6ee;
    color: #0051a2;
    margin: 1px 4px 3px 0px;
    padding: 8px 6px 6px 6px;
    font-size: 0.8em;
    font-weight: bold;
    display: block;
    float: left;
    line-height: 1em;
}

#keywords_ji span:hover {
    background-color: #0051a2;
    color: #dee6ee;
}

.content_list li {
    clear: both;
}
