.body_container .container{
    margin-left:5px;
    margin-top:8px;
}

ul{
  padding:0px;
  margin:0px;
  margin-bottom:0.3em;
  display: inline-block;
  list-style:none;
  width: 100%;
}

ul li span{
  display:inline-block;
}

ul li div{
  display:inline-block;
}

#TitleToolBar{
 display:inline-block;
 margin-bottom:10px;
}

#TitleToolBar div{
    float:left;
}

.user_icon{
    margin-right: 15px;
    margin-left: 3px;

}
.user_info{
  padding:3px;
  font-weight:bold;
  color: #CA0000;
}
.user_info :first-child{
  margin-right:5px;
  background: #FFD3FF;
  color: white;
  padding: 3px 5px 3px 5px;
}
.user_icon img{
    width:50px;
    height:50px;
    background-color:#0094ff;
    border:solid 1px #BE0000;
}

.user_detail{
    clear:both;
    margin-bottom:15px;
}

.user_detail ul li span:first-child{
  font-weight:bold;
  background-color: #DB2B9C;
  padding:0.4em;
  margin-right:10px;
  color: white;
}

.user_detail ul li span.detail{
  font-size:0.8em;
  margin-right:0.5em;
  color: grey;
}

.user_detail ul li{
  margin-bottom:5px;
  margin-left:3px;
  background-color: #F0F0F0;
}

.friends{
  float:left;
  display: flex;
}

.friends_list{
   display:inline-block;
}

.friends_list ul{
  margin:0px;
  padding:0px;
}

.friends_list ul li{
    float:left;
    width:auto;
}

.friends_list ul li span{
  background-color: #7FD574 !important;
}

.friends_list_title {
  display:inline-block;
}

#AdvertiseBar{
  margin-left:3px;
  padding: 8px 5px 5px 8px;
  background-color: #FFF1B8;
  font-weight: bold;
}

#AdvertiseBar span{
  color: #F89500;
}

